<h1>Список Ресторанов</h1>
<% Restoran.all.each do |restoran| %>
<div class="col-md-3 menu-card">
<p class="nazvanie">	<%= restoran.name %></p>
<p>	<%= restoran.description %></p>
<p class="p-link">	<%= link_to image_tag( restoran.image.url(:thumb)),restorans_show_path(restoran.id),class: "qwerty" %></p>
</div>	
<% end %>



